body{
    background-color: lightslategray;
    border: 2px solid black;
}
h1{
    font-size: 1.3rem;
    color: maroon;
    margin-left: 2rem;
}
input{
    height: 2rem;
    border: 2px solid black;
    margin-left: 2rem;
}
.button{
    height: 2rem;
    border: 2px solid black;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.button:hover{
    border: 2px solid red;
}
p{
    color: bisque;
    text-decoration-line: underline;
    text-align: center;
    font-size: 2rem;
    background-color: black;
    margin: 2rem;
    height: 3rem;
}